*{ margin : 0; padding: 0; box-sizing: border-box;}
input:focus,button:focus{ outline: 0}

body{
    font-family: "Poppins";
}

h2{
    font-size: 23 px;
    padding : 10px 20px;
    color: #fff;
    background-color: #0085ad;
}

#chat-wrap{
    max-width: 300px;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 5px ;
}

#chat-window{
    height: 200px;
    overflow-y: auto;
}

#output p{
    font-size: 15px;
    padding: 12px;
}

#output strong{
    color: #079FAB
}

input{
    font-family: 'Poppins';
    padding: 10px 20px;
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 15px;
}

button{
    font-family: "Poppins";
    background-color: #079FAB;
    color: #fff;
    border: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 12px 0px;
    font-size: 17px;
}