header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}


.task-definitions {
    display: flex;
    flex-direction: column;
}

.align{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: flex-end;
}
